---
scripts:
  -
    name: cloud
    command: generate_cloud.py 50 10
---
<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <link rel='stylesheet' href='/styles.css'>

    <link rel="start" href="http://danielmoniz.github.com/" title="Home">
    <!--<link rel="alternate" type="application/atom+xml" 
	  title="Recent Entries"
          href="http://feeds.feedburner.com/metajack">-->

    <link rel="stylesheet" 
          href="/syntaxhighlight/css/SyntaxHighlighter.css">

    <!--
      <rdf:RDF xmlns="http://web.resource.org/cc/"
               xmlns:dc="http://purl.org/dc/elements/1.1/"
	       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <Work rdf:about="http://metajack.im/">
	  <dc:title>metajack.im</dc:title>
	  <dc:description>a blog about startups and code</dc:description>
	  <license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/3.0/us/" />
	</Work>
	<License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
	</License>
      </rdf:RDF>
    -->

    <!-- IE HTML5 workaround -->
    <script>
      <!--
         function fixElem(name) {
           document.createElement(name);
         }

         fixElem('header');
         fixElem('aside');
         fixElem('section');
         fixElem('article');
         fixElem('time');
         fixElem('footer');
      // -->
    </script>

    {% if post %}
    <script>
      <!--
         var disqus_url = 'http://danielmoniz.github.com{{ post.url }}';
         // -->
    </script>
    {% endif %}
  </head>

  <body>

    <header class='page-header'>
      <a href='/'><span>life</span>and<span>games</span></a>
    </header>

    <section class='page-body'>
      {{ content }}

      <aside class='cloud'>
        <header>
          <h1>See more posts about</h1>
        </header>

        {{ cloud }}
      </aside>

    <!--
      <aside class='book-promo'>
        <header>
          <h1>Buy my book</h1>
        </header>

        <p>
          <a href='http://www.amazon.com/gp/product/0470540710?tag=metajack-20'>
            <img src='/images/profxmpp_cover.jpg' width='100' height='125'
                 alt='Book cover of Professional XMPP Programming'>
          </a>
          Buy my book, <a href='http://professionalxmpp.com'>Professional XMPP Programming with JavaScript and
          jQuery</a>, from <a href='http://www.amazon.com/gp/product/0470540710?tag=metajack-20'>Amazon US</a> or <a href='http://www.amazon.co.uk/gp/product/0470540710?tag=metajack-20'>Amazon UK</a> to learn more about developing awesome XMPP
          applications.
        </p>
      </aside>
      -->

      {% unless page.title contains 'about jack moffitt' %}
      <aside class='author-bio'>
        <header>
          <h1>About the author</h1>
        </header>

        <p>
          <img src='/images/daniel.jpg' width='100' height='100'
               alt='Picture of Daniel Moniz'>
          
          I'm a budding hacker, writer, and gamer in Toronto, Ontario. I have
          developed a social network at Sourst.com (private Beta), and I am
          currently developing a number of smaller projects on 
          <a href="http://github.com/danielmoniz">github</a>. While I have
          primarily developed in PHP in the past, I am about to dive into
          Python and see where it takes me. You can learn more about me on 
          the <a href='/about/'>about page</a>.
        </p>

        <p>
          Follow <a href='http://twitter.com/ParagonRG'>@ParagonRG</a> on <a
          href='http://twitter.com/ParagonRG'>Twitter</a>, 
          or contact me personally at my <a
          href='http://www.github.com/danielmoniz'>github</a> page.
        </p>
      </aside>
      {% endunless %}
    </section>

    <footer>
    <!--
      <p>
        <a href='http://feeds.feedburner.com/metajack'>
          <img src='/images/feed-icon-16x16.png' width='16' height='16'
               alt='Feed icon'>

          subscribe to this blog
        </a>
      </p>
      -->

      <p>
        Thanks to <a href="http://www.github.com/metajack">Jack Moffitt</a> 
        for his use of the source code found on this blog.</a>
      </p>
    </footer>

    <a href='#site-info' class='site-info'>more info</a>
      
    <script src='/LABjs/LAB.min.js'></script>
    <script>
      <!--
         $LAB
           .setOptions({BasePath: '/syntaxhighlight/js/'})
           .script('shCore.js',
                   'shBrushCpp.js',
                   'shBrushCss.js',
                   'shBrushJScript.js',
                   'shBrushPython.js',
                   'shBrushSql.js',
                   'shBrushXml.js',
                   'shBrushLisp.js')
           .wait(function () {
             dp.SyntaxHighlighter.ClipboardSwf = '/syntaxhighlight/flash/clipboard.swf';
             dp.SyntaxHighlighter.HighlightAll('code');
           });
      // -->
    </script>

    <script>
      <!--
         (function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	  if(links[i].href.indexOf('#disqus_thread') >= 0) {
	    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	  }
	}
	$LAB.script('http://disqus.com/forums/ParagonRG/get_num_replies.js' + query);
})();
         // -->
    </script>

    <script>
      <!--
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-5488219-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script');
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           ga.setAttribute('async', 'true');
           document.documentElement.firstChild.appendChild(ga);
         })();
         // -->
    </script>
  </body>
</html>
